body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

#input_table {
	border-right: 1px solid black;
	width: 100%;
  	margin: 20px auto;
  	table-layout: fixed;
}

td {
  padding: 10px;
  text-align: center;
}
