<!doctype html>
<html>
<head>
  <title>Create Dichotomous Key Data</title>
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAT4QAiQfpC9zX33Cee-QXf4nrC3b8QHxY",
      authDomain: "auth-testing-198230.firebaseapp.com",
      databaseURL: "https://auth-testing-198230.firebaseio.com",
      projectId: "auth-testing-198230",
      storageBucket: "auth-testing-198230.appspot.com",
      messagingSenderId: "632244427625",
      appId: "1:632244427625:web:23d09cdff1abe521867bf8",
      measurementId: "G-S8B3J69CG4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <script src="{{ url_for('static', filename='scriptSub.js') }}"></script>

  <link type="text/css" rel="stylesheet" href="static/style.css">

</head>
<body>

<h1>Dichotomous Key Data</h1>

  <h2>Select Info for:{{key_name}}</h2>
  <p>Take the time to inspect the row and column headings. If there are any mistakes you should <a href="/start_key">start over</a></p>
  
  <div id="input_table">
  <form id="criteria" action="/check_input" method="POST">
  <table>
  <thead>
  	<tr>
  		<td></td>
  		{% for criterion in criteria %}
  			<td>{{criterion}}</td>
  		{% endfor %}
  	</tr>
  	</thead>
  	<tbody>
	{% for member in members %}
		<tr>
			<td style="width: auto;">{{member}}</td>
		{% for criterion in criteria %}
      	<td><input type="checkbox" name="{{criterion}}" value="{{member}}" /></td>      
      {% endfor %}
      </tr>
   {% endfor %}
   </tbody>
   </form>
   </div>
   <input type="submit" value="Submit">
  
  <br><br>
  <button id="sign-out">Sign Out</button>


</body>
</html>
