<!-- templates/index.html -->
<html>
	<head>
		<title> Dicotomous Key Generator </title>
		<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAT4QAiQfpC9zX33Cee-QXf4nrC3b8QHxY",
      authDomain: "auth-testing-198230.firebaseapp.com",
      databaseURL: "https://auth-testing-198230.firebaseio.com",
      projectId: "auth-testing-198230",
      storageBucket: "auth-testing-198230.appspot.com",
      messagingSenderId: "632244427625",
      appId: "1:632244427625:web:23d09cdff1abe521867bf8",
      measurementId: "G-S8B3J69CG4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="static/styleSub.css">		
	</head>
	<body>
		<header>
			<h1>{{heading}}</h1>
		</header>
		<article>
			<p>{{message|safe}}</p>
		</article>
		
		<br><br>
		<button id="sign-out">Sign Out</button>

	</body>
</html>
