<!doctype html>
<html>
<head>
  <title> Dicotomous Key Generator </title>
 
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAT4QAiQfpC9zX33Cee-QXf4nrC3b8QHxY",
      authDomain: "auth-testing-198230.firebaseapp.com",
      databaseURL: "https://auth-testing-198230.firebaseio.com",
      projectId: "auth-testing-198230",
      storageBucket: "auth-testing-198230.appspot.com",
      messagingSenderId: "632244427625",
      appId: "1:632244427625:web:23d09cdff1abe521867bf8",
      measurementId: "G-S8B3J69CG4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <body>
		<header>
			<h1>{{heading}}</h1>
		</header>
		This site is for making dicotomous keys from a set of lists.<br><br>

		members = [all the elements that are going to be sorted]<br>
		citeria = [all the criterion that are used to sort the items]<br><br>

		One list for each criterion with all the members that fit that criterion.<br>
		<a href="/sample_data">Shark Family Sample</a><br><br>

		******************************************************<br><br>

		This is under construction:<br>
		<div id="not_logged_in" hidden=false><br>
		The without logging in the program only uses the default data for sorting shark families.<br><br>

		loging in using your Google account, or email address and password. Will allow more functionality.<br>
		</div><br><br>
		<div id="firebaseui-auth-container"></div>
		<div id="user_message" hidden=true>{{ user_data }} you are able to use a wizard to create your own 
		dichotomous keys and store them.<br><br>

    Start creating your own dichotomous key: <a href="/start_key">Start New Key</a><br>
    <p>View created images: </p> <a href="/view_images">View Images</a><br></div><br> 

		******************************************************<br><br>

		The dichotomous key is created as a binary tree and saved as a dot file. This dot file is then interpreted
		 into a a png image and stored for later retrieval.<br><br>

		<a href="/sample_image">Sample dot and image files</a><br>

		<br><button id="sign-out" hidden=true>Sign Out</button>
	</body>

</body>
</html>
