<!-- templates/index.html -->
<html>
	<head>
		<title> Dicotomous Key Generator </title>
		<link rel="stylesheet" type="text/css" href="static/style.css">		
	</head>
	<body>
		<header>
			<h1>{{heading}}</h1>
		</header>
		<article>
			<p>{{message|safe}}</p>
		</article>
		
		<br><br>
		<form action="/">
      <input type="submit" value="Home" />
  </form>

	</body>
</html>
