<!doctype html>
<html>
<head>
  <title>Create Dichotomos Key Data</title>
  
  <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAT4QAiQfpC9zX33Cee-QXf4nrC3b8QHxY",
      authDomain: "auth-testing-198230.firebaseapp.com",
      databaseURL: "https://auth-testing-198230.firebaseio.com",
      projectId: "auth-testing-198230",
      storageBucket: "auth-testing-198230.appspot.com",
      messagingSenderId: "632244427625",
      appId: "1:632244427625:web:23d09cdff1abe521867bf8",
      measurementId: "G-S8B3J69CG4"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>

  <script src="{{ url_for('static', filename='scriptSub.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="static/style.css">

</head>
<body>

<h1>Start Key</h1>

<p>
Group Members: 
Input the group members as comma separated values (CSV).

</p>
<div>
<form action="/start_key" method="post">
	<input type="text" name = "category" placeholder="Database Name" /><br>
	<input type="textarea" name="members" placeholder="(ex. member one, member two, member three, member four)" style="width:80%;"/>
<p>
Criteria: 
Input the criteria as comma separated values (CSV).
</p>
	<input type="textarea" name="criteria" placeholder="(ex. criterion one, criterion two, criterion three, criterion four)" style="width:80%;"/>
	<input type="submit" value="Submit both lists"/>
</form>
</div>

<br><br>
<button id="sign-out">Sign Out</button>

</body>
</html>
